body {
  background-color: purple;
  color: white;
}

.animation {
  width: 50px;
  height: 50px;
  background-color: orange;
  animation-name: animation;
  animation-duration: 5s;
  animation-direction: inherit;
  border-radius: 100px;
}

.animation2 {
  width: 50px;
  height: 50px;
  background-color: white;
  animation-name: animation2;
  animation-duration: 5s;
  animation-direction: inherit;
  border-radius: 100px;
}
.animation3 {
  width: 50px;
  height:50px;
  background-color: green;
  animation-name: animation3;
  animation-duration: 4s;
  animation-direction: alternate-reverse;
  border-radius: 100px;
}
.animation4 {
  width: 50px;
  height:50px;
  background-color: green;
  animation-name: animation4;
  animation-duration: 4s;
  animation-direction: alternate-reverse;
  border-radius: 100px;
}


.animation5 {
  width: 50px;
  height:50px;
  background-color: green;
  animation-name: animation5;
  animation-duration: 4s;
  animation-direction: alternate-reverse;
  border-radius: 100px;
}
.animation6 {
  width: 50px;
  height:50px;
  background-color: green;
  animation-name: animation6;
  animation-duration: 4s;
  animation-direction: alternate-reverse;
  border-radius: 100px;
}

.animation7 {
  width: 50px;
  height: 50px;
  background-color: green;
  animation-name: animation7;
  animation-duration: 4s;
  animation-direction: alternate-reverse;
  border-radius: 100px;
  
}









@keyframes animation{
  from {
    background-color: white;
    position: relative;
    top: 10000px;
  }
  to{
    background-color: green;
    position: relative;
    top: 0px;
  }
}
@keyframes animation2 {
  from{
    background-color: white;
    position: relative;
    top: 100px;
  }
  to{
    background-color:white;
    position: relative;
    top: 0px;
  }
}
@keyframes animation3 {
  from {
    background-color: green;
    position: relative;
    top: 20px;
    
  }
  to{
    background-color: pink;
    position: relative;
    top: 200px;
  }
}

@keyframes animation4 {
  from{
    position: relative;
    background-color: white;
    top: 3000px;
  }
  to{
    position: relative;
    top: 100px;
  }
}
@keyframes animation5 {
  from{
    position: relative;
    top: 200px;
  }
  to{
   position: relative;
   top: 30pp;
  }
  
}
@keyframes animation6 {
  from{}
  to{}
}
@keyframes animation7 {
  from{}
  to{}
  
}





.animation-container{
  display: flex;
  margin: auto;
}
